<form action="/recipes" method="post">
  <label for="r_name">Recipe name:</label>
  <input type="text" id="r_name" name="r_name"><br><br>
  <label for="r_desc">Description:</label>
  <input type="text" id="r_desc" name="r_desc"><br><br>
  <input type="submit" value="Submit">
</form>